body {
	font-family: 'Atkinson Hyperlegible', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: black;
	color: white;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

a {
	color: #eeff88;
	text-decoration: underline;
}
